@font-face {
font-family: 'Gotham Book';
font-style: normal;
font-weight: normal;
src: local('Gotham Book'), url('../fonts/GOTHAMBOOK.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
font-family: 'Gotham Rounded Medium';
font-style: normal;
font-weight: normal;
src: local('Gotham Rounded Medium'), url('../fonts/GothamRounded-Medium.woff') format('woff');
}


body{
	margin: 0;
	font-family: 'Gotham Book',sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #f5f5f5;
	background-color: #11749e;
}
 * , *:after , *:before{
 	box-sizing: border-box;
 }
 h1, h2 , h3 , h4 ,h5, h6{
	margin: 0;		

}
a{
	text-decoration: none;
	color: #f5f5f5;
} 
						/*Container*/
.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

						/*Header*/
.header{
	display: flex;
	justify-content: center;
	
	position: relative;
	height: 100vh;

	background: url('../images/header.jpg') center no-repeat;

	background-size: 100% 100%;

}

.header_inner{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;

}
.header_logo{
	position: relative;
	height: 58px;
	width: 62px;
}
.header_logo_cube{
	position: absolute;
	z-index: 1;
	width: 50px;
	height: 50px;
	background-color: #11749e;

	font-size: 30.5px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
}
.header_logo_cube_1{
	position: absolute;
	top: 8px;
	left: 12px;
	width: 50px;
	height: 50px;
	background-color: #cbcbcb;
}

.header_title_block{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

.header_title_inner{
	position: relative;
	width: 100%;
	max-width: 880px;
	height: 390px;

}
.header_title{
	font-size: 152.5px;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'Gotham', sans-serif;
}

.header_title_text{
	text-transform: uppercase;
	color: #11749e;
	font-size: 25px;
	
	letter-spacing: 19px;
	padding: 0;
	margin: 0;
}

.scroll{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
.scroll p{
	font-family: 'OpenSans', sans-serif;
	font-size: 13px;
	color: #f5f5f5;
}

.scroll_btn{
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items:  center;
	width: 67px;
	height: 67px;
	border-radius:  50%;
	transition: background-color .3s linear;
	border:1px solid white;
}
.scroll_btn_arrow{
	margin-top: -3px;
	position: absolute;
	width: 13px;
	height: 13px;
	border:3px solid #f5f5f5;
	border-top-width: 0;
	border-left-width: 0;
	transform: rotate(45deg); 
	transition: border-color .3s linear;
}
.scroll_btn:hover{
	background-color: #f5f5f5;
}
.scroll_btn:hover .scroll_btn_arrow{
	border-color: #2d2c2a;
}

							/* Nav */
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	margin: 0;
	font-family: 'Myriad Pro Regular';

	
}

.nav_item_a{

	margin-right: 20px;
	height: 100%;
	position: relative;
	padding-bottom: 40px;
	padding-left: 10px;
	padding: 0 15px 40px 15px;
	
}

.nav_social a:first-child{
	margin-right: 50px;
	
}

.nav_item_a:after{
	content: "";
	display: block;
	opacity: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 5px;

	
	
	background-color: #11749e;
	z-index: 1000;
}

.nav_item_a:hover:after{
	opacity: 1;
	transition: opacity .2s linear;
}
.nav_social{
	display: flex;
	-ms-align-items: center;
	align-items: center;
}


					/* Section-feature */


.section{
	height: 740px;
	display: flex;
	justify-content: center;
}
.section_title{
	height: 280px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
}
.section_title_big , .section_title_big_2 {

	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 247px;
	font-weight: bold;
	color: #3c8daf;
}

.section_title_txt , .section_title_txt_2{
	font-size: 38px;
	position: absolute;
	font-family: 'Gotham Rounded Medium';
	margin: 0;
	
}

.section_title_big_2{
	color: #e2e2e2;


}
.section_title_big_2 h1{
	height: 50px;
}

.section_title_txt_2{
	color: #222222;
}


						/* Feature */


.feature_inner{
	padding-top: 20px;
	display: flex;

	justify-content: space-between;
}
.feature{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 100%;
	max-width: 270px;
	height: 270px;
}

.feature_img{
	margin: 0 auto;
	width:100%;
	max-width: 133px;
	height: 133px;
	background-color: #2e85aa; 
	border-radius: 50%;
}
.feature_title{
	font-family: 'Gotham Rounded Medium';
	font-size: 18px;
	text-transform: uppercase;
}
.feature_text{
	text-align: justify;
	font-size: 15px;
}
.feature_img{
	display: flex;
	justify-content: center;
	align-items: center;
}


						/*Article*/


.article_1{
	background-color: #222222;
	position: relative;
	display: flex;
}

.article_inner{
	width: 100%;
	

}
.article_content{
	width: 50%;
	height: 450px;
	display: flex;
	
	flex-direction: column;
	justify-content: center;

}

.article_content_inner{
	width: 470px;
}

.article_img {
	
	position: absolute;
	right: 0;
	width: 50%;
	height: 450px;
	
}

.article_img_item {
	width: 100%;
	height: 100%;
}


.article_2{
	display:flex;
}

.article_img_2 {
	flex:1;
	height: 450px;
	baground-size:100% 100%;	
}



.article_inner_2{
	flex:1;
	background-color: #f3f3f3;
}



.article_content_2{
	width: 50%;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	margin-left: 80px;
	color:#222222;	
}

					/* Blog */


.blog_main{
	background-color: white;
}

.blog_section_txt{
	color: #222222;
	text-align: center;
	font-size: 31px;
	font-family: 'Times New Roman', sans-serif;
	margin: 0;
}
.blog_inner{
	padding-top: 60px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.blog{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 100%;
	max-width: 270px;
	height: 505px;
	margin-bottom: 100px;

}

.blog_img{
	width: 100%;
	max-width: 270px;
	height: 280px;
	
}

.blog_title{
	font-size: 15px;
	font-family: 'Gotham Rounded Medium';
	text-transform: uppercase;
	color: #2e85aa;

}

.blog_txt{
	font-size: 15px;
	color: #656565;
}

				
				/* Action */
.action_main{
	
	height: 356px;
	width: 100%;
}

.action_inner{
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	height: 356px;
	
	
}
.action{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;	
	width: 100%;
	height: 100px;
	max-width: 570px;
	
}

.action_txt{
	font-size: 15px;
	width: 100%;
	max-width: 470px;

}

.actiom_img_item{
	width: 70px;
	height: 70px;
}

				/*Key feature*/

.key_feature{
	height: 850px;
	background: url("../images/key_bg.png") center no-repeat;
	background-size: 100% 100%;
	
}				

.key_feature_inner{
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	height: 850px;
}

.key_feature_txt{
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	max-width: 475px;
}


.key_title{
	font-size: 25px;
	font-family: 'Gotham Rounded Medium';
	text-transform: uppercase;
	font-weight: normal;
}

.key_txt{
	font-size: 15px;
}
.key_line_general{
	background-color: #11749e;
	text-transform: uppercase;
	padding: 5px 15px;
	
}

.key_line_1{
	width: 80%;
}

.key_line_2{
	width: 85%;
}

.key_line_3{
	width: 90%;
}
 				/* Team */

.team{
	background-color: #ffff;
}

.team_title{
	color: #222222;
}

.team_title_big{
	color: #e2e2e2;
}

.team_subtitle{
	font-size: 30px;
	color: #222222;
	text-align: center;
}

.team_inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.member{
	position: relative;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	max-width: 270px;
	height: 460px;
	
	
	
}

.member_img{
	height: 90%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}

.member_info{
	position: absolute;
	bottom: 0;
	width: 85%;
	
	height: 85px;
	
	color:black;
	background-color: white;
}

.member_name{
	text-transform: uppercase;
	font-family: 'Gotham Rounded Medium';
	font-size: 20px;
	font-weight: normal;
	color: #11749e;
}
.member_job{
	font-family: 'Gotham Rounded Medium';
	font-size: 15px;
	font-weight: normal;
}

				/* Contact */

.contact {
	background: url("../images/contact_bg.png") center no-repeat;
	background-size: 100% 100%;
	height: 850px;
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
}
.contact_title_big{
	color:#5d5e5b;
}

.contact_form{
	width: 100%;
	height: 245px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;

}

.contact_input_inner{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contact_input{
	width: 32%;
	height: 50px;
	color:#fff;
	padding-left: 15px;
		
	background-color: inherit;

}

::-webkit-input-placeholder {
	
	color: #fff
}

.contact_message{
	width: 100%;
	height: 150px;
	background-color: inherit;
	border: 2px solid white;
	color:#fff;
	padding: 15px;
	padding-left: 15px;
}

.btn_inner{
	margin-top: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.btn{
	width: 100%;
	max-width: 230px;
	height: 60px;
	background-color: #11749e;
	border:0;
	color: #fff;
	font-size: 24px;
	font-family: 'Gotham Rounded Medium';
	font-weight: normal ;
	text-transform: uppercase;


}

.map{
	width: 100%;
	height: 340px;
	background-color: #222222;

}

				/* Footer */

.footer{
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 112px;
	background-color: #222222;
}

.footer_inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

@media(max-width: 1200px){
	.container{
		max-width: 1000px;
	}
	.header_title{
		font-size: 130px;
	}
	.header_title_text{
		font-size: 18px;
		margin-left: 25px;
	}

	.feature{
		max-width: 200px;
		height: 350px;
	}

	.article_content_2{
		width: 70%;
	}
	
	.blog_wrap{
		display: flex;
		justify-content: center;

		width: 100%;
		max-width: 50%;

	}
	.blog{
		max-width: 350px;
		height: 595px;
	}

	.blog_img{
		max-width: 350px;
		height: 360px;
	}

	.blog_img img{
		width: 100%;
		height: 360px;
	}
	.action_inner{
		justify-content: center;
	}

}

@media (max-width: 990px) {
	.container{
		max-width: 790px;
	}
	.nav_item a:nth-child(3), .nav_item a:nth-child(4){
		display: none;
	}
	.header{
		height: 800px;
	}
	.header_title{
		font-size: 100px;
	}

	.header_title_text{
		font-size: 15px;
		letter-spacing: 14px;

	}
	.feature_img{
		max-width: 100px;
		height: 100px;
	}

	.feature{
		height: 300px;
	}
	.feature_text{
		text-align: center;
	}

	.article_content , .article_2 , .article_img{
		height: 390px;
	}
	.article_content_inner{
		width: 365px;
	}
	.article_img_item{
		height: 390px;
	}
	.article_content_2{
		width: 90%;
		margin-left: 20px;
	}
	.article_text_2{
		font-size: 13px;
		height: 390px;
	}


}

@media(max-width: 768px){
	.container{
		max-width: 600px;
	}

	.header{
		height: 600px;
	}
	.header_logo{
		height: 48px;
		width:52px;
	}

	.header_logo_cube, .header_logo_cube_1{
		width: 40px;
		font-size: 25px;
		height: 40px;
	}

	.header_logo_cube_1{
		top:5px;
		left: 6px;
	}

	.nav_item a:nth-child(2), .nav_item a:nth-child(5){
		display: none;
	}
	
	.nav{
		font-size: 15px;
	}
	.nav_item_a{
		font-size: 15px;
	}

	.nav_social{
		font-size: 15px;
	}

	.header_title{
		font-size: 70px;
	}

	.header_title_text{
		font-size: 15px;
		letter-spacing: 6px;
		margin-left: 15px;
	}

	.header_title_inner{
		height: 250px;
	}
	.scroll p{
		font-size: 12px;
	}
	.scroll_btn{
		width: 50px;
		height: 50px;
	}

	.scroll_btn_arrow {
		width: 11px;
		height: 11px;
	}
	.section {
		height: 650px;
	}
	.section_title_big, .section_title_big_2{
		font-size: 150px;
	}

	.section_title_txt, .section_title_txt_2{
		font-size: 23px;
	}
	.feature{
		max-width: 100px;
		height: 280px;
	}
	.feature_img{
		height: 80px;
		max-width: 80px;
	}
	.feature_img img{
		width: 50px;
	}

	.feature_title{
		font-size: 13px;
	}

	.feature_text{

		font-size: 12px;
	}
	.article_content_inner{
		width: 240px;
	}
	.article_content, .article_2, .article_img , .article_img_item{
		height: 300px;
	}
	.article_time{
		font-size: 12px;
	}
	.article_title{
		font-size: 20px;
	}
	.article_txt{
		font-size: 12px;
	}
	.article_content_2{
		height: 300px;
	}

	.blog_section_txt{
		font-size: 23px;
	}

	.blog {
    	max-width: 245px;
    	height: 395px;
	}

	.blog_img img{
		height: 220px;
	}

	.blog_txt{
		font-size: 13px;
	}

	.actiom_img_item{
		height: 45px;
		width: 45px;
	}

	.action_txt{
		font-size: 12px;
	}

	.key_feature_img img{
		height: 350px;
	}

	.key_feature{
		height: 600px;
	}

	.key_feature_inner{
		height: 600px;
	}

	.key_title{
		font-size: 19px;
	}
	.key_txt{
		font-size: 13px;
	}

	.key_feature_txt{
		max-width: 325px;
	}
	.key_line_1 , .key_line_2 , .key_line_3{
		font-size: 12px;
	}

	.team_subtitle{
		font-size: 23px;
	}
	.member{
		max-width: 230px;
	}

	.footer_site {
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
}

@media(max-width: 420px){
	.container{
		max-width: 350px;
	}

	.header{
		height: 400px;
	}
	
	.header_logo_cube, .header_logo_cube_1{
		width: 35px;
		font-size: 23px;
		height: 35px;
	}
	
	.nav_item_a, .nav_social{
		font-size: 12px;
	}

	.nav_social{
		display: none;
	}

	.header_title{
		font-size: 40px;
	}

	.header_title_text{
		font-size: 10px;
		letter-spacing: 3px;
		margin-left: 4px;
	}

	.header_title_inner{
		height: 200px;
	}
	.scroll p{
		font-size: 10px;
	}
	.scroll_btn{
		width: 35px;
		height: 35px;
	}

	.scroll_btn_arrow {
		width: 8px;
		height: 8px;
	}
	.section {
		height: 410px;
	}

	.section_title{
		height: 180px;
	}
	.section_title_big, .section_title_big_2{
		font-size: 100px;
	}

	.section_title_txt, .section_title_txt_2{
		font-size: 13px;
	}
	.feature{
		max-width: 60px;
		height: 210px;
	}
	.feature_img{
		height: 70px;
		max-width: 70px;
	}
	.feature_img img{
		width: 30px;
	}

	.feature_title{
		font-size: 10px;
	}

	.feature_text{
		font-size: 8px;
	}

	.feature_inner{
		padding: 0;
	}

	.article_content{
		display: flex;
		flex-direction: column;
	}

	.article_img{
		position: static;
		width: 100%;
	}

	.article_img_2{
		height: 300px;
	}

	.article_content, .article_content_inner{
		width: 100%;
	}


	.article_1{
		height: 600px;
		display: flex;
		flex-direction: column;
	}
	.article_2{
		flex-direction: column-reverse;
		height: 600px;
	}
	.article_content_2{
		height: 300px;
	}

	.blog_section_txt{
		font-size: 16px;
	}
	
	.blog_inner{
		padding-top: 25px;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	
	.action_inner, .action_main{
		height: 200px;
	}
	.actiom_img_item{
		height: 35px;
		width: 35px;
	}

	.action_txt{
		font-size: 8px;
		max-width: 280px;
	}

	.key_feature_img img{
		height: 200px;
	}

	.key_feature{
		height: 400px;
	}

	.key_feature_inner{
		height: 400px;
	}

	.key_title{
		font-size: 15px;
	}
	.key_txt{
		font-size: 9px;
	}

	.key_feature_txt{
		max-width: 185px;
		height: 250px;
	}
	.key_line_1 , .key_line_2 , .key_line_3{
		font-size: 7px;
	}

	.team_subtitle{
		font-size: 13px;
	}
	.member{
		max-width: 230px;
		height: 369px;
	}
	.member_info{
		height: 65px;
	}
	.member_name{
		font-size: 16px;
	}

	.member_job{
		font-size: 13px;
	}
	
	.contact{
		height: 480px;
	}
	.contact_form{
		height: 180px;
	}
	.contact_input{
		height: 35px;
	}
	.contact_message{
		height: 120px;
	}

	.btn_inner{
		margin-top: 25px;
	}

	.btn{
		max-width: 160px;
		height: 35px;
		font-size: 17px;
	}
		
	

	.map{
		height: 240px;
	}
	.footer_copyrights{
		font-size: 7px;
	}

	.footer{
		height: 45px;
	}
	.footer_site {
		
		display: flex;
		-ms-align-items: center;
		align-items: center;
		width: 100px;
	}
	.footer_site img{
		width: 100px;
	}
}







































